<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>GuessTheNumber</title>
</head>
<body>
    <div style="text-align:center;">
        <h1>Guess The Number Game</h1>
        <h2 id="game-over">Game over</h2>
        <h3 id="resultMessage">Result Message</h3>
        <a id="restartUrl"></a>
        <a id="homeUrl"></a>



        <footer id="footerId">
            <p>&copy; Created by Sfirlea Andrei Bogdan </p>
        </footer>
    </div>

</body>
</html>